
.form-check-label{
    padding-left: 20px;
}

.col{
    width: 12.5%;
}

.container{
    width: auto;
}

table th td{


}

.table-responsive-sm{
    width: 100%;
    border: 1px;
    text-align: center;

}

th{
    width: 12.5%;
    background-color: #5eb5e0;
    /*border: 1px solid black;*/
    height: 50px;
    text-align: center;

}

.btn{

}

.btn-secondary{
    background-color: #718C00;
    -ms-high-contrast-adjust: auto;
}

#btnChange{
    margin-right: 15px;
}

