{% extends 'base.html.twig' %}

{% block title %}Games Liste{% endblock %}

{% block body %}

    <h1>Datensatz erfolgreich gespeichert!</h1>
    <div>
        <p>möchten Sie einen weiteren Datensatz einfüen?</p>
        <a href= "{{ path("app_game_addGame") }}"><button type="button" name="btnYes">yes</button></a>
        <a href= "{{ path("app_game_index") }}"><button type="button" name="btnNo">no</button></a>
    </div>




{% endblock %}