{% extends 'base.html.twig' %}

{% block title %}Games Liste{% endblock %}

{% block body %}

    <h1>Datensatz erfolgreich gespeichert!</h1>
    <div>
        <p>Datensatz erfolgriech gelöscht</p>
        <a href= "{{ path("app_game_index") }}"><button type="button" name="btnNo">zurück zu Index</button></a>
    </div>
{% endblock %}