{% extends 'base.html.twig' %}

{% block title %}Games Liste{% endblock %}

{% block body %}

    <h1>Welcome</h1>

    <div>
        <p>möchten Sie einen weiteren Datensatz einfügen?</p>
        <a href= "{{ path("app_game_addGame") }}"><button type="button" name="btnYes">Spiel Hinzufügen</button></a>
        <a href= "{{ path("app_game_showGame") }}"><button type="button" name="btnShow">Spiele anzeigen</button></a>
    </div>


{% endblock %}