{% extends 'base.html.twig' %}

{% block title %}Games Liste{% endblock %}

{% block body %}

  <div>
      <h1>test</h1>
      <a href= "{{ path("app_game_index") }}"><button type="button" name="btnCancel">Abbruch</button></a>
  </div>




{% endblock %}